[run]
omit =
    */nanoporethon/data_navi_gui.py
    */nanoporethon/event_classifier_gui.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
